In [1]:
from outbreak_data.authenticate_user import set_authentication
from outbreak_data import outbreak_data

outbreak_data.print_reqs = True

In [2]:
import auth_token

from outbreak_data.authenticate_user import set_authentication
set_authentication(auth_token.get_auth_token())

In [3]:
outbreak_data.wildcard_lineage('*.86.*')

GET https://api.outbreak.info/genomics/lineage?name=*.86.*

        name  total_count
0  ba.2.86.1        10791
1  ba.2.86.3          351
2  ba.2.86.2          318
3  ba.2.86.5           38
4  ba.2.86.4           10

In [4]:
outbreak_data.wildcard_mutations('*e484*')

GET https://api.outbreak.info/genomics/mutations?name=*e484*

              name  total_count
0          s:d614g      8080726
1      orf1a:f924f      8062345
2      orf1b:p314l      8059209
3     orf1a:s2839s      7934106
4        orf8:s84l      7907718
...            ...          ...
9995  orf1b:t2246t          579
9996    orf3a:k16k          579
9997      s:l1063f          579
9998       n:s183s          578
9999    orf10:l16p          578

[10000 rows x 2 columns]

In [5]:
outbreak_data.wildcard_location('*awai*')

GET https://api.outbreak.info/genomics/location?name=*awai*

,country,country_id,division,division_id,id,label,admin_level,total_count,location,location_id
0,United States,USA,Hawaii,HI,USA_US-HI,"Hawaii, United States",1,28246,NaN,NaN
1,United States,USA,Hawaii,HI,USA_US-HI_15001,"Hawaii, Hawaii, United States",2,3316,Hawaii,15001
2,India,IND,Rajasthan,RJ,IND_IN-RJ_SM,"Sawai Madhopur, Rajasthan, India",2,138,Sawai Madhopur,SM

In [6]:
outbreak_data.cases_by_location('USA_US-HI')

GET https://api.outbreak.info/covid19/query?q=location_id:(USA_US-HI)&sort=date&fields=date,admin1,confirmed_numIncrease&fetch_all=true
GET https://api.outbreak.info/covid19/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDnF1ZXJ5VGhlbkZldGNoAxZmU1FLVi10M1NKdWdqN3VVQUtLLTFBAAAAAAoiS1kWc0hMeURPR1VUMW1PTlZ1cUxwVXBTURZKcXVNTUIya1JDR0FvOFhGQWxMakJ3AAAAAAzwHXEWUmFoc1VXdGlRX1dJMk9OTDktVFFfdxZwckRwT2p5NFFSYVM0d01HZWt0Z0d3AAAAAAlhAlcWU3RpUXZHU0ZSaldScGhPSGRUME1tdw==&fetch_all=True&page=0
GET https://api.outbreak.info/covid19/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDnF1ZXJ5VGhlbkZldGNoAxZmU1FLVi10M1NKdWdqN3VVQUtLLTFBAAAAAAoiS1kWc0hMeURPR1VUMW1PTlZ1cUxwVXBTURZKcXVNTUIya1JDR0FvOFhGQWxMakJ3AAAAAAzwHXEWUmFoc1VXdGlRX1dJMk9OTDktVFFfdxZwckRwT2p5NFFSYVM0d01HZWt0Z0d3AAAAAAlhAlcWU3RpUXZHU0ZSaldScGhPSGRUME1tdw==&fetch_all=True&page=1

                            _id  confirmed_numIncrease        date
0     USA_Hawaii_None2020-11-14                    107  2020-11-14
1     USA_Hawaii_None2020-11-28                     76  2020-11-28
2     USA_Hawaii_None2020-12-02                     76  2020-12-02
3     USA_Hawaii_None2020-12-26                     74  2020-12-26
4     USA_Hawaii_None2021-01-11                    156  2021-01-11
...                         ...                    ...         ...
1116  USA_Hawaii_None2021-02-25                     31  2021-02-25
1117  USA_Hawaii_None2021-03-10                      4  2021-03-10
1118  USA_Hawaii_None2021-03-15                     40  2021-03-15
1119  USA_Hawaii_None2021-03-20                      2  2021-03-20
1120  USA_Hawaii_None2021-03-28                    102  2021-03-28

[1121 rows x 3 columns]

In [7]:
outbreak_data.most_recent_cl_data('ba.2.86.1', location='USA_US-HI')

GET https://api.outbreak.info/genomics/most-recent-collection-date-by-location?pangolin_lineage=ba.2.86.1&location_id=USA_US-HI

         date  date_count
0  2024-01-04           1

In [8]:
outbreak_data.daily_lag(location='USA_US-HI')

GET https://api.outbreak.info/genomics/collection-submission?location_id=USA_US-HI

     date_collected date_submitted  total_count
0        2020-03-05     2020-04-16            1
1        2020-03-07     2020-04-16            1
2        2020-03-11     2020-12-31            1
3        2020-03-12     2020-06-16            2
4        2020-03-12     2020-12-31            1
...             ...            ...          ...
5758     2024-03-27     2024-04-15            1
5759     2024-04-03     2024-04-28            1
5760     2024-04-04     2024-04-28            1
5761     2024-04-07     2024-04-28            1
5762     2024-04-08     2024-04-28            1

[5763 rows x 3 columns]

In [9]:
outbreak_data.location_details('USA_US-HI')

GET https://api.outbreak.info/genomics/location-lookup?id=USA_US-HI

,division,division_id,country,country_id,label,admin_level,query_id
0,Hawaii,HI,United States,USA,"Hawaii, United States",1,USA_US-HI

In [10]:
outbreak_data.mutation_details(['s:e484a', 's:e484k'])

GET https://api.outbreak.info/genomics/mutation-details?mutations=s:e484a,s:e484k

,type,mutation,gene,ref_codon,pos,alt_codon,is_synonymous,ref_aa,codon_num,alt_aa
0,substitution,S:E484A,S,GAA,23013,GCT,False,E,484,A
1,substitution,S:E484K,S,GAA,23013,AAG,False,E,484,K

In [11]:
outbreak_data.growth_rates(['XBB.1.5', 'BA.2.86'], ['Global', 'USA'])

GET https://api.outbreak.info/growth_rate/query?q=lineage:(XBB.1.5 OR BA.2.86)AND location:(Global OR USA)

,G_7,G_7_linear,N_7,N_prev_7,Prevalence_7,Prevalence_7_percentage,confidenceInterval20,confidenceInterval35,confidenceInterval5,confidenceInterval50,...,deltaG_7,deltaG_7_linear,deltaN_7,deltaN_prev_7,deltaPrevalence_7,deltaPrevalence_7_percentage,invDeltaG_7,snr,lineage,location
0,-0.034397,-3.381177,1.0,1.0,0.000419,0.041850,0.944850,1.700730,0.226764,2.532199,...,0.039117,3.779401,12838.0,1.576152,0.639198,63.919838,25.564586,0.894633,XBB.1.5,Global
1,-0.023214,-2.294645,1.0,1.0,0.000430,0.042993,0.948394,1.707109,0.227614,2.541695,...,0.038827,3.793574,10927.0,1.576152,0.637404,63.740442,25.755486,0.604877,XBB.1.5,Global
2,-0.006578,-0.655626,0.0,2.0,0.000443,0.044277,0.972548,1.750586,0.233412,2.606429,...,0.039159,3.890192,9016.0,1.576152,0.636483,63.648273,25.537139,0.168533,XBB.1.5,Global
3,-0.000936,-0.093580,0.0,2.0,0.000457,0.045710,0.980957,1.765722,0.235430,2.628964,...,0.039275,3.923826,9016.0,1.626308,0.636681,63.668115,25.461479,0.023849,XBB.1.5,Global
4,-0.005278,-0.526397,0.0,2.0,0.000440,0.044003,1.007301,1.813142,0.241752,2.699567,...,0.040505,4.029204,9016.0,1.576835,0.675330,67.532994,24.688151,0.130645,XBB.1.5,Global
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,0.060997,6.289570,1.0,2.0,0.003404,0.340404,1.160786,2.089415,0.278589,3.110907,...,0.043684,4.643144,596.0,1.585607,0.713263,71.326278,22.891723,1.354593,BA.2.86,Global
82,0.070679,7.323630,2.0,2.0,0.003768,0.376813,1.179633,2.123339,0.283112,3.161417,...,0.043965,4.718532,475.0,1.585607,0.725188,72.518764,22.745131,1.552099,BA.2.86,Global
83,0.079888,8.316545,2.0,2.0,0.004158,0.415840,1.211414,2.180545,0.290739,3.246590,...,0.044736,4.845656,338.0,1.585607,0.751723,75.172288,22.353328,1.716289,BA.2.86,Global
84,0.085289,8.903196,2.0,1.0,0.004653,0.465337,1.212239,2.182031,0.290937,3.248801,...,0.044525,4.848957,201.0,1.637042,0.770357,77.035658,22.459096,1.836105,BA.2.86,Global
85,0.106708,11.260881,1.0,2.0,0.005618,0.561769,1.232565,2.218617,0.295816,3.303274,...,0.044313,4.930260,64.0,1.593491,0.757207,75.720733,22.566938,2.284034,BA.2.86,Global

In [12]:
outbreak_data.gr_significance(['Global', 'USA'])

GET https://api.outbreak.info/significance/query?location:(Global OR USA)

,_id,_score,growing,leaf,lin,loc,sig,snr
0,ARG_B+,1.0,true,false,B+,ARG,5.3817445604892775,1.8428045700128948
1,ARG_B.1+,1.0,true,false,B.1+,ARG,5.381744560489351,1.8428045700129092
2,ARG_B.1.1+,1.0,true,false,B.1.1+,ARG,5.381744560488377,1.8428045700126732
3,ARG_B.1.1.529+,1.0,true,false,B.1.1.529+,ARG,5.381744560488303,1.842804570012659
4,ARG_B.1.1.529.2+,1.0,true,false,B.1.1.529.2+,ARG,5.381744560489156,1.8428045700128626
5,ARG_B.1.1.529.2.86+,1.0,true,false,B.1.1.529.2.86+,ARG,5.381744560489034,1.8428045700128364
6,ARG_B.1.1.529.2.86.1+,1.0,true,false,B.1.1.529.2.86.1+,ARG,5.382340014698039,1.8429481173142364
7,ARG_B.1.1.529.2.86.1.1+,1.0,true,false,B.1.1.529.2.86.1.1+,ARG,5.382340014698039,1.8429481173142364
8,ARG_EG.5.1.1,1.0,false,true,EG.5.1.1,ARG,1.417189385282744,0.60757823055092
9,ARG_EG.5.1.1+,1.0,false,false,EG.5.1.1+,ARG,1.417189385282744,0.60757823055092

In [13]:
outbreak_data.lineage_by_sub_admin(['BA.2.86.1', 'XBB.1.5'])

GET https://api.outbreak.info/genomics/lineage-by-sub-admin-most-recent?pangolin_lineage=BA.2.86.1,XBB.1.5&detected=false

,date,name,id,total_count,lineage_count,cum_total_count,cum_lineage_count,proportion,proportion_ci_lower,proportion_ci_upper,query
0,2024-01-31,Afghanistan,AFG,2,0,119,0,0.000000,4.117673e-06,0.020844,XBB.1.5
1,2023-08-21,Albania,ALB,1,0,620,2,0.003226,6.709191e-04,0.010308,XBB.1.5
2,2023-05-23,Algeria,DZA,1,0,719,6,0.008345,3.490420e-03,0.017119,XBB.1.5
3,2022-12-27,Andorra,AND,1,0,323,0,0.000000,1.519053e-06,0.007741,XBB.1.5
4,2022-10-24,Angola,AGO,1,0,1183,0,0.000000,4.149879e-07,0.002121,XBB.1.5
...,...,...,...,...,...,...,...,...,...,...,...
207,2023-12-16,Venezuela,VEN,1,0,993,0,0.000000,4.943714e-07,0.002526,BA.2.86.1
208,2024-01-24,Vietnam,VNM,1,1,9219,3,0.000325,9.165966e-05,0.000868,BA.2.86.1
209,2024-02-06,Wallis and Futuna,WLF,1,0,12,0,0.000000,4.007531e-05,0.185306,BA.2.86.1
210,2024-01-01,Zambia,ZMB,1,0,1878,0,0.000000,2.614319e-07,0.001336,BA.2.86.1
211,2023-01-26,Zimbabwe,ZWE,1,0,895,0,0.000000,5.484886e-07,0.002802,BA.2.86.1

In [14]:
outbreak_data.all_lineage_prevalences('USA_US-HI')

GET https://api.outbreak.info/genomics/prevalence-by-location-all-lineages?location_id=USA_US-HI&ndays=180&nday_threshold=10&other_threshold=0.05&cumulative=false

,date,total_count,lineage_count,lineage,prevalence,prevalence_rolling
0,2023-06-27,7,1,eg.5.1.1,0.142857,0.127273
1,2023-06-28,0,0,eg.5.1.1,0.000000,0.084337
2,2023-06-29,0,0,eg.5.1.1,0.000000,0.114754
3,2023-06-30,0,0,eg.5.1.1,0.000000,0.076923
4,2023-07-01,0,0,eg.5.1.1,0.000000,0.043210
...,...,...,...,...,...,...
2853,2024-04-04,1,1,other,1.000000,1.000000
2854,2024-04-05,0,0,other,0.000000,1.000000
2855,2024-04-06,0,0,other,0.000000,1.000000
2856,2024-04-07,1,1,other,1.000000,1.000000
2857,2024-04-08,1,1,other,1.000000,1.000000

In [15]:
outbreak_data.lineage_cl_prevalence('BA.2.86.1', ancestors=True)

GET https://api.outbreak.info/genomics/prevalence-by-location?lineages=None&q=pangolin_lineage_crumbs:*;BA.2.86.1;*&cumulative=false

,date,total_count,lineage_count,total_count_rolling,lineage_count_rolling,proportion,proportion_ci_lower,proportion_ci_upper,query
0,2023-01-17,7437,1,6705.571429,0.142857,0.000021,7.322043e-08,0.000374,pangolin_lineage_crumbs:*;BA.2.86.1;*
1,2023-01-18,6992,0,6533.285714,0.142857,0.000022,7.515931e-08,0.000384,pangolin_lineage_crumbs:*;BA.2.86.1;*
2,2023-01-19,5746,0,6343.428571,0.142857,0.000023,7.741056e-08,0.000396,pangolin_lineage_crumbs:*;BA.2.86.1;*
3,2023-01-20,5145,0,6100.285714,0.142857,0.000023,8.049417e-08,0.000412,pangolin_lineage_crumbs:*;BA.2.86.1;*
4,2023-01-21,3359,0,5995.714286,0.142857,0.000024,8.189027e-08,0.000419,pangolin_lineage_crumbs:*;BA.2.86.1;*
...,...,...,...,...,...,...,...,...,...
460,2024-04-21,20,0,79.857143,0.000000,0.000000,6.118762e-06,0.030816,pangolin_lineage_crumbs:*;BA.2.86.1;*
461,2024-04-22,46,0,56.285714,0.000000,0.000000,8.729379e-06,0.043673,pangolin_lineage_crumbs:*;BA.2.86.1;*
462,2024-04-23,24,0,44.285714,0.000000,0.000000,1.109659e-05,0.055184,pangolin_lineage_crumbs:*;BA.2.86.1;*
463,2024-04-24,14,0,29.857143,0.000000,0.000000,1.623186e-05,0.079678,pangolin_lineage_crumbs:*;BA.2.86.1;*
464,2024-04-29,1,0,13.000000,0.000000,0.000000,3.705193e-05,0.172619,pangolin_lineage_crumbs:*;BA.2.86.1;*

In [16]:
outbreak_data.lineage_cl_prevalence(['BA.2.86.1', 'XBB.1.5'], cumulative=False)

GET https://api.outbreak.info/genomics/prevalence-by-location?pangolin_lineage=BA.2.86.1,XBB.1.5&cumulative=false

,date,total_count,lineage_count,total_count_rolling,lineage_count_rolling,proportion,proportion_ci_lower,proportion_ci_upper,query
0,2023-01-17,7437,1,6705.571429,0.142857,0.000021,7.322043e-08,0.000374,BA.2.86.1
1,2023-01-18,6992,0,6533.285714,0.142857,0.000022,7.515931e-08,0.000384,BA.2.86.1
2,2023-01-19,5746,0,6343.428571,0.142857,0.000023,7.741056e-08,0.000396,BA.2.86.1
3,2023-01-20,5145,0,6100.285714,0.142857,0.000023,8.049417e-08,0.000412,BA.2.86.1
4,2023-01-21,3359,0,5995.714286,0.142857,0.000024,8.189027e-08,0.000419,BA.2.86.1
...,...,...,...,...,...,...,...,...,...
679,2024-04-21,20,0,79.857143,0.000000,0.000000,6.118762e-06,0.030816,XBB.1.5
680,2024-04-22,46,0,56.285714,0.000000,0.000000,8.729379e-06,0.043673,XBB.1.5
681,2024-04-23,24,0,44.285714,0.000000,0.000000,1.109659e-05,0.055184,XBB.1.5
682,2024-04-24,14,0,29.857143,0.000000,0.000000,1.623186e-05,0.079678,XBB.1.5
683,2024-04-29,1,0,13.000000,0.000000,0.000000,3.705193e-05,0.172619,XBB.1.5

In [17]:
outbreak_data.mutations_by_lineage(mutation=['S:E484K', 'S:E484A'], location='USA_US-HI')

GET https://api.outbreak.info/genomics/mutations-by-lineage?mutations=S:E484K AND S:E484A&location_id=USA_US-HI

Empty DataFrame
Columns: [query]
Index: []

In [18]:
outbreak_data.sequence_counts('USA_US-HI')

GET https://api.outbreak.info/genomics/sequence-count?location_id=USA_US-HI&cumulative=false&subadmin=false

            date  total_count
0     2020-03-05            1
1     2020-03-07            1
2     2020-03-11            1
3     2020-03-12            3
4     2020-03-13            1
...          ...          ...
1325  2024-03-27            1
1326  2024-04-03            1
1327  2024-04-04            1
1328  2024-04-07            1
1329  2024-04-08            1

[1330 rows x 2 columns]

In [19]:
outbreak_data.lineage_mutations('XBB.1.5', ancestors=True)

GET https://api.outbreak.info/genomics/lineage-mutations?lineages=None&q=pangolin_lineage_crumbs:*;XBB.1.5;*&frequency=0.8

,mutation,mutation_count,lineage_count,lineage,gene,ref_aa,alt_aa,codon_num,codon_end,type,prevalence,change_length_nt,query
0,orf1a:p3395h,328481,329219,pangolin_lineage_crumbs:*;XBB.1.5;*,ORF1a,P,H,3395,NaN,substitution,0.997758,NaN,pangolin_lineage_crumbs:*;XBB.1.5;*
1,orf1b:r1315c,328332,329219,pangolin_lineage_crumbs:*;XBB.1.5;*,ORF1b,R,C,1315,NaN,substitution,0.997306,NaN,pangolin_lineage_crumbs:*;XBB.1.5;*
2,e:t9i,328289,329219,pangolin_lineage_crumbs:*;XBB.1.5;*,E,T,I,9,NaN,substitution,0.997175,NaN,pangolin_lineage_crumbs:*;XBB.1.5;*
3,orf1b:p314l,328248,329219,pangolin_lineage_crumbs:*;XBB.1.5;*,ORF1b,P,L,314,NaN,substitution,0.997051,NaN,pangolin_lineage_crumbs:*;XBB.1.5;*
4,s:d614g,328231,329219,pangolin_lineage_crumbs:*;XBB.1.5;*,S,D,G,614,NaN,substitution,0.996999,NaN,pangolin_lineage_crumbs:*;XBB.1.5;*
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,s:del144/144,304358,329219,pangolin_lineage_crumbs:*;XBB.1.5;*,S,S:DEL144/144,DEL144/144,144,144.0,deletion,0.924485,3.0,pangolin_lineage_crumbs:*;XBB.1.5;*
65,s:h146q,301851,329219,pangolin_lineage_crumbs:*;XBB.1.5;*,S,H,Q,146,NaN,substitution,0.916870,NaN,pangolin_lineage_crumbs:*;XBB.1.5;*
66,s:r408s,299222,329219,pangolin_lineage_crumbs:*;XBB.1.5;*,S,R,S,408,NaN,substitution,0.908884,NaN,pangolin_lineage_crumbs:*;XBB.1.5;*
67,s:k417n,288040,329219,pangolin_lineage_crumbs:*;XBB.1.5;*,S,K,N,417,NaN,substitution,0.874919,NaN,pangolin_lineage_crumbs:*;XBB.1.5;*
68,s:g252v,266771,329219,pangolin_lineage_crumbs:*;XBB.1.5;*,S,G,V,252,NaN,substitution,0.810315,NaN,pangolin_lineage_crumbs:*;XBB.1.5;*

In [20]:
d = outbreak_data.get_wastewater_latest(region="Ohio", server='dev.outbreak.info')
outbreak_data.get_wastewater_samples(region="Ohio", date_range=["2023-06-01", d], server='dev.outbreak.info')

GET https://dev.outbreak.info/wastewater_metadata/query?size=1&sort=-collection_date&fields=collection_date&q=geo_loc_region:Ohio AND demix_success:true
GET https://dev.outbreak.info/wastewater_metadata/query?fetch_all=true&q=geo_loc_region:Ohio AND collection_date:[2023-06-01 TO 2024-02-28] AND demix_success:true
GET https://dev.outbreak.info/wastewater_metadata/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAABTrWBZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=True&page=0
GET https://dev.outbreak.info/wastewater_metadata/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAABTrWBZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=True&page=1

,collection_date,collection_site_id,demix_success,geo_loc_country,geo_loc_region,sra_accession,viral_load,ww_population
0,2023-06-05,USA_OH_335e1b28,True,USA,Ohio,SRR25108989,78442.0,2400.0
1,2023-06-11,USA_OH_40278401,True,USA,Ohio,SRR25108991,21936.5,35000.0
2,2023-06-11,USA_OH_cb8e5291,True,USA,Ohio,SRR25108995,10071.0,313158.0
3,2023-06-11,USA_OH_ff1194e0,True,USA,Ohio,SRR25108997,6500.0,377378.0
4,2023-06-11,USA_OH_2d4d1c49,True,USA,Ohio,SRR25109007,18702.5,103379.0
...,...,...,...,...,...,...,...,...
1755,2023-12-10,USA_OH_b0ce207b,True,USA,Ohio,SRR27590132,174484.0,45000.0
1756,2023-12-03,USA_OH_b0ce207b,True,USA,Ohio,SRR27590133,114484.0,45000.0
1757,2023-12-03,USA_OH_6b93c039,True,USA,Ohio,SRR27590138,89137.0,13965.0
1758,2023-12-04,USA_OH_06d3527d,True,USA,Ohio,SRR27590139,344379.0,29000.0
1759,2023-12-10,USA_OH_30401a54,True,USA,Ohio,SRR27590144,58989.5,27000.0

In [21]:
outbreak_data.get_wastewater_samples(collection_site_id="USA_OH_5f9e5487", viral_load_at_least=25000, server='dev.outbreak.info')

GET https://dev.outbreak.info/wastewater_metadata/query?fetch_all=true&q=collection_site_id:USA_OH_5f9e5487 AND viral_load:>=25000 AND demix_success:true
GET https://dev.outbreak.info/wastewater_metadata/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAABTrWRZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=True&page=0

,collection_date,collection_site_id,demix_success,geo_loc_country,geo_loc_region,sra_accession,viral_load,ww_population
0,2023-06-12,USA_OH_5f9e5487,True,USA,Ohio,SRR25109057,25684.00000,226729.0
1,2023-09-25,USA_OH_5f9e5487,True,USA,Ohio,SRR26549478,51116.00000,226729.0
2,2023-10-30,USA_OH_5f9e5487,True,USA,Ohio,SRR26769118,105726.50000,226729.0
3,2023-10-23,USA_OH_5f9e5487,True,USA,Ohio,SRR26769119,104084.50000,226729.0
4,2023-11-06,USA_OH_5f9e5487,True,USA,Ohio,SRR27209430,43915.50000,226729.0
5,2023-08-28,USA_OH_5f9e5487,True,USA,Ohio,SRR25939637,26947.50000,226729.0
6,2023-09-06,USA_OH_5f9e5487,True,USA,Ohio,SRR26133858,98147.50000,226729.0
7,2023-04-17,USA_OH_5f9e5487,True,USA,Ohio,SRR24335713,27326.00000,226729.0
8,2023-04-24,USA_OH_5f9e5487,True,USA,Ohio,SRR24529558,26778.94737,226729.0
9,2023-08-07,USA_OH_5f9e5487,True,USA,Ohio,SRR25757732,27873.50000,226729.0
10,2023-05-22,USA_OH_5f9e5487,True,USA,Ohio,SRR24900752,27326.50000,226729.0
11,2023-05-08,USA_OH_5f9e5487,True,USA,Ohio,SRR24900753,26947.50000,226729.0
12,2023-08-21,USA_OH_5f9e5487,True,USA,Ohio,SRR25833262,29810.50000,226729.0
13,2023-11-27,USA_OH_5f9e5487,True,USA,Ohio,SRR27209427,90400.00000,226729.0
14,2023-11-13,USA_OH_5f9e5487,True,USA,Ohio,SRR27209429,68842.00000,226729.0
15,2023-11-20,USA_OH_5f9e5487,True,USA,Ohio,SRR27209428,100547.50000,226729.0
16,2022-12-26,USA_OH_5f9e5487,True,USA,Ohio,SRR24057377,318610.50000,226729.0
17,2023-02-13,USA_OH_5f9e5487,True,USA,Ohio,SRR24057385,75915.50000,226729.0
18,2023-01-04,USA_OH_5f9e5487,True,USA,Ohio,SRR24057389,176210.50000,226729.0
19,2022-12-28,USA_OH_5f9e5487,True,USA,Ohio,SRR24057376,248631.50000,226729.0
20,2023-01-23,USA_OH_5f9e5487,True,USA,Ohio,SRR24057387,68674.00000,226729.0
21,2023-03-13,USA_OH_5f9e5487,True,USA,Ohio,SRR24063051,57432.00000,226729.0
22,2023-03-20,USA_OH_5f9e5487,True,USA,Ohio,SRR24093827,39242.00000,226729.0
23,2023-03-27,USA_OH_5f9e5487,True,USA,Ohio,SRR24148627,29221.00000,226729.0
24,2022-06-27,USA_OH_5f9e5487,True,USA,Ohio,SRR24040790,27651.00000,226729.0
25,2022-10-31,USA_OH_5f9e5487,True,USA,Ohio,SRR24054714,61979.00000,226729.0
26,2022-10-17,USA_OH_5f9e5487,True,USA,Ohio,SRR24054716,80211.00000,226729.0
27,2022-10-03,USA_OH_5f9e5487,True,USA,Ohio,SRR24054718,36421.00000,226729.0
28,2022-12-19,USA_OH_5f9e5487,True,USA,Ohio,SRR24057378,174063.00000,226729.0
29,2022-12-12,USA_OH_5f9e5487,True,USA,Ohio,SRR24057379,128126.50000,226729.0
30,2022-11-28,USA_OH_5f9e5487,True,USA,Ohio,SRR24057381,197052.50000,226729.0
31,2022-11-21,USA_OH_5f9e5487,True,USA,Ohio,SRR24057382,302526.50000,226729.0
32,2022-11-14,USA_OH_5f9e5487,True,USA,Ohio,SRR24057383,76210.50000,226729.0
33,2022-11-07,USA_OH_5f9e5487,True,USA,Ohio,SRR24057384,84505.50000,226729.0
34,2023-02-27,USA_OH_5f9e5487,True,USA,Ohio,SRR24063053,84000.00000,226729.0
35,2023-02-22,USA_OH_5f9e5487,True,USA,Ohio,SRR24063054,67874.00000,226729.0
36,2022-10-10,USA_OH_5f9e5487,True,USA,Ohio,SRR24054717,67284.00000,226729.0
37,2022-12-05,USA_OH_5f9e5487,True,USA,Ohio,SRR24057380,194274.00000,226729.0
38,2022-07-20,USA_OH_5f9e5487,True,USA,Ohio,SRR24054406,34773.50000,226729.0

In [22]:
s = outbreak_data.get_wastewater_samples_by_lineage('EG.5.1', server='dev.outbreak.info')
s = outbreak_data.get_wastewater_metadata(s, server='dev.outbreak.info')
outbreak_data.get_wastewater_mutations(s, server='dev.outbreak.info')

GET https://dev.outbreak.info/wastewater_demix/query?fetch_all=true&q=abundance:>=0.01 AND name:EG.5.1
GET https://dev.outbreak.info/wastewater_demix/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAABTrWhZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=True&page=0
GET https://dev.outbreak.info/wastewater_demix/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAABTrWhZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=True&page=1
GET https://dev.outbreak.info/wastewater_demix/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAABTrWhZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=True&page=2
GET https://dev.outbreak.info/wastewater_demix/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAABTrWhZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=True&page=3
GET https://dev.outbreak.info/wastewater_demix/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAABTrWhZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=True&page=4
POST https://dev.outbreak.info/wastewater_metadata/query
POST https://dev.outbreak.info/wastewater_variants/query

,abundance,crumbs,name,sra_accession,query_x,collection_date,collection_site_id,demix_success,geo_loc_country,geo_loc_region,viral_load,ww_population,query_y,alt_base,depth,frequency,ref_base,site
0,0.056257,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,SRR26963071,SRR26963071,2023-11-20,USA_KS_a286ac9e,True,USA,Kansas,69844.930889,95000.0,SRR26963071,T,8282.0,0.999879,C,10029.0
1,0.056257,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,SRR26963071,SRR26963071,2023-11-20,USA_KS_a286ac9e,True,USA,Kansas,69844.930889,95000.0,SRR26963071,T,760.0,0.091193,C,10138.0
2,0.056257,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,SRR26963071,SRR26963071,2023-11-20,USA_KS_a286ac9e,True,USA,Kansas,69844.930889,95000.0,SRR26963071,T,8302.0,0.999880,C,10198.0
3,0.056257,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,SRR26963071,SRR26963071,2023-11-20,USA_KS_a286ac9e,True,USA,Kansas,69844.930889,95000.0,SRR26963071,A,38.0,0.000888,G,10256.0
4,0.056257,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,SRR26963071,SRR26963071,2023-11-20,USA_KS_a286ac9e,True,USA,Kansas,69844.930889,95000.0,SRR26963071,C,35.0,0.001006,T,10339.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17410,0.339014,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,SRR25666039,SRR25666039,2023-07-23,USA_OH_172e6169,True,USA,Ohio,29600.000000,22000.0,SRR25666039,C,162.0,1.000000,T,12125.0
17411,0.339014,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,SRR25666039,SRR25666039,2023-07-23,USA_OH_172e6169,True,USA,Ohio,29600.000000,22000.0,SRR25666039,G,43.0,1.000000,A,22688.0
17412,0.339014,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,SRR25666039,SRR25666039,2023-07-23,USA_OH_172e6169,True,USA,Ohio,29600.000000,22000.0,SRR25666039,C,657.0,0.998480,A,22786.0
17413,0.339014,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,SRR25666039,SRR25666039,2023-07-23,USA_OH_172e6169,True,USA,Ohio,29600.000000,22000.0,SRR25666039,C,908.0,1.000000,G,22895.0
17414,0.339014,;XBB;XBB.1;XBB.1.9;XBB.1.9.2;XBB.1.9.2.5;XBB.1...,EG.5.1,SRR25666039,SRR25666039,2023-07-23,USA_OH_172e6169,True,USA,Ohio,29600.000000,22000.0,SRR25666039,A,953.0,1.000000,C,22995.0

In [23]:
s = outbreak_data.get_wastewater_samples_by_mutation(site=1003, alt_base='G', server='dev.outbreak.info')
outbreak_data.get_wastewater_lineages(s, server='dev.outbreak.info')

GET https://dev.outbreak.info/wastewater_variants/query?fetch_all=true&q=frequency:>=0.01 AND site:1003 AND alt_base:G
GET https://dev.outbreak.info/wastewater_variants/query?scroll_id=FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFnNKbEd4cUZSVEEtOXdfRy1JVV8tMmcAAAAAABULqxZHV0dfbkk2elNUS2dCdTI1dzA4T3F3&fetch_all=True&page=0
POST https://dev.outbreak.info/wastewater_demix/query

,alt_base,depth,frequency,ref_base,site,sra_accession,query,abundance,crumbs,name
0,G,20,0.256410,A,1003,SRR26776578,SRR26776578,0.029703,;B;B.1;B.1.632;,B.1.632
1,G,20,0.256410,A,1003,SRR26776578,SRR26776578,0.007273,;B;B.1;B.1.640;B.1.640.2;,B.1.640.2
2,G,20,0.256410,A,1003,SRR26776578,SRR26776578,0.003614,;B;B.1;B.1.621;B.1.621.1;B.1.621.1.2;BB;BB.2;,BB.2
3,G,20,0.256410,A,1003,SRR26776578,SRR26776578,0.030303,;B;B.1;B.1.1;B.1.1.529;B.1.1.529.2;B.1.1.529.2...,EP.1.1.1
4,G,20,0.256410,A,1003,SRR26776578,SRR26776578,0.028166,;XBB;XBB.1;XBB.1.5;XBB.1.5.44;XBB.1.5.44.4;HC;...,HC.2
...,...,...,...,...,...,...,...,...,...,...
405,G,106,0.010759,A,1003,SRR23919360,SRR23919360,0.001743,;B;B.1;B.1.1;B.1.1.529;B.1.1.529.2;B.1.1.529.2...,BA.2.10.4
406,G,106,0.010759,A,1003,SRR23919360,SRR23919360,0.000367,;B;B.1;B.1.1;B.1.1.529;B.1.1.529.2;B.1.1.529.2...,BA.2.20
407,G,106,0.010759,A,1003,SRR23919360,SRR23919360,0.000333,;B;B.1;B.1.1;B.1.1.529;B.1.1.529.2;B.1.1.529.2...,BA.2.21
408,G,106,0.010759,A,1003,SRR23919360,SRR23919360,0.000486,;B;B.1;B.1.1;B.1.1.529;B.1.1.529.2;B.1.1.529.2...,BA.2.41
409,G,106,0.010759,A,1003,SRR23919360,SRR23919360,0.000134,;B;B.1;B.1.1;B.1.1.529;B.1.1.529.2;B.1.1.529.2...,BA.2.48